body { background: url(../img/back.jpg); }

h1 {
    padding: 39px 0 35px;
    font: 26px "TheMixArab-Regular", sans-serif;
    text-align: center;
    color: #1b1e88;
}

h2 {
    position: relative;
    padding: 13px 0 19px;
    font: 16px "TheMixArab-Regular", sans-serif;
    text-align: center;
    background: #ebebeb;
    color: #b7b7b7
}

p {
    margin: -25px auto 36px;
    font: 12px "TheMixArab-Regular", sans-serif;
    color: #2e3192;
}

form {
    text-align: center;
    background: #ebebeb;
}

textarea {
    width: 400px;
    height: 127px;
    margin: 0 0 25px;
    resize: none;
    border: none;
    vertical-align: -webkit-baseline-middle;
    outline: none;
}

select {
    margin: 10px 40px 15px 0;
}

.content {
    position: relative;
    width: 100%;
    max-width: 740px;
    height: 100%;
    margin: 0 auto;
}

