@font-face {
	font-family: "TheMixArab-Regular";
	src:
		url("../fonts/TheMixArab-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body { background: url(../img/back.jpg); }

h1 {
	padding: 39px 0 35px;
	font: 26px "TheMixArab-Regular", sans-serif;
	text-align: center;
	color: #1b1e88;
}

h2 {
	position: relative;
	padding: 13px 0 19px;
	font: 16px "TheMixArab-Regular", sans-serif;
	text-align: center;
	background: #ebebeb;
	color: #b7b7b7
}

p {
	margin: -25px 105px 36px;
	font: 12px "TheMixArab-Regular", sans-serif;
	color: #2e3192;
}

form {
	text-align: center;
	background: #ebebeb;
}

textarea {
	width: 400px;
	height: 127px;
	margin: 0 0 25px;
	resize: none;
	border: none;
	vertical-align: -webkit-baseline-middle;
	outline: none;
}

.welcome {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 476px;
	margin: -100px 0 0 -238px;
	padding: 89px 0 85px;
	font: 26px "TheMixArab-Regular", sans-serif;
	text-align: center;
	border-radius: 5px;
	background: #fff;
	color: #000;
	opacity: 1;
	transition: opacity 0.5s ease-out;
	z-index: 2;
}

.shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: opacity 0.5s ease-out;
	z-index: 1;
}

.content {
	width: 100%;
	max-width: 740px;
	height: 100%;
	margin: 0 auto;
}

.hashtag {
	display: inline-block;
	margin: 23px 0 0;
}

.logo {
	float: right;
	display: inline-block;
	padding: 16px 12px 4px 10px;
	background: #fff;
}

.list-image {
	margin: 17px 0 0 0;
	padding: 0px 0 10px;
	background: #fff;
}

.items {
	margin: 0 58px 25px 37px;
	padding: 8px 22px;
	border: 1px solid #eeeeee;
}

.item {
	position: relative;
	display: inline-block;
	width: 109px;
	height: 90px;
	margin: 58px 23px 0 32px;
	padding: 5px;
	border: 1px solid #d6d6d6;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-ms-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	cursor: pointer;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4) {
	margin: 0 23px 0 32px;
}

.item:nth-child(1) {
	margin: 0 23px 0 0;
}

.item:nth-child(5),
.item:nth-child(9) {
	margin: 58px 23px 0 0;
}

.item:nth-child(4) {
	margin: 0 0 0 18px;
}
.item:nth-child(8) {
	margin: 58px 0 0 18px;
}

.item:last-child {
	margin-bottom: 30px;
}

.item::after {
	content: "";
	position: absolute;
	top: 12px;
	right: -29px;
	bottom: 9px;
	border-right: 1px solid #d6d6d6;
}

.item:nth-child(4)::after,
.item:nth-child(8)::after,
.item:last-child::after {
	content: "";
	display: none;
}

.item img {
	width: 100%;
	height: 100%;
}

.editor-title::after {
	content: "";
	position: absolute;
	top: 23px;
	left: 15px;
	right: 430px;
	border-top: 1px solid #b7b7b7;
}

.submit-title::after {
	content: "";
	position: absolute;
	top: 23px;
	left: 15px;
	right: 415px;
	border-top: 1px solid #b7b7b7;
}

.editor-title::before {
	content: "";
	position: absolute;
	top: 23px;
	right: 15px;
	left: 430px;
	border-top: 1px solid #b7b7b7;
}

.submit-title::before {
	content: "";
	position: absolute;
	top: 23px;
	right: 15px;
	left: 415px;
	border-top: 1px solid #b7b7b7;
}

.canvas-text {
	display: block;
	height: 0;
	margin: 0 auto;
}

.canvas-picture {
	display: block;
	height: 0;
	margin: 0 auto;
	opacity: 0;
}

.edit-image {
	display: none;
	margin: 17px 0 0 0;
	background: #fff;
}

.chain {}
.chain__item {
	position: relative;
	display: inline-block;
}

.chain__item:first-child {
	margin: 0 0 0 78px;
}

.chain__item img {
	width: 100%;
	height: 100%;
}
.chain__item--pic {
	width: 126px;
	height: 102px;
	margin: 0 0 31px;
	padding: 5px;
	border: 1px solid #d6d6d6;
	-webkit-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-ms-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
	box-shadow: 0px 19px 16px -17px rgba(0,0,0,0.5);
}
.chain__item--symbol {
	margin: 15px 13px 0;
	font-size: 85px;
	vertical-align: top;
	color: #a7a7a7;
}

.button {
	display: inline-block;
	padding: 8px 19px 5px;
	font: 16px "TheMixArab-Regular", sans-serif;
	text-decoration: none;
	color: #fff;
	border: 1px solid #1381ca;
	border-radius: 3px;
}

.button--change {
	margin: 0 70px 0 15px;
	background: #fefcea; /* Для старых браузров */
	background: linear-gradient(to right, #0878c2, #49acf1);
}

.button--link {
	position: relative;
	margin: 27px 35px 43px 15px;
	padding: 8px 19px 5px 44px;
	background: #fefcea; /* Для старых браузров */
	background: linear-gradient(to top, #0878c2, #49acf1);
}

.button--link::after {
	content: "";
	position: absolute;
	left: 10px;
	top: 6px;
	width: 23px;
	height: 19px;
	background: url(../img/sprites.png);
}

.button--send::after {
	content: "";
	left: 6px;
	top: 6px;
	width: 32px;
	height: 17px;
	background-position: 0px -17px;
}

.button--save::after {
	content: "";
	left: 16px;
	top: 8px;
	width: 32px;
	height: 16px;
	background-position: 0px -33px;
}
